<%- include("./partials/head.ejs") %>
<%- include("./modules/DesktopNav.ejs") %>

<div class="alt-content-wrapper">
	<header>
		<!-- Logo -->
		<div class="logo-wrapper">
			<img src="./assets/logo.svg" alt="Logo" width="188" height="32">
		</div>

		<!-- Heading text -->
		<div class="heading-text">
			<h1 class="heading-title">Inklokken</h1>
		</div>
	</header>
	<main class="alt-main">
		<!-- Inklokken  -->
		<section class="inklokken">
            <!-- Map -->
            <div id="map" class="map"></div>
			<!-- Inklokken container -->
			<div class="inklokken-container">
				<form action="/inklokken" method="post" name="inklokForm" id="inklokForm" class="inklok-form">
					<!-- Inklok tijd -->
					<p class="klok-tijd"><%- currentTime %></p>

					<!-- Individuele medewerker -->
					<div class="card inklok-card">
						<div class="img-wrapper">
							<img src="./assets/department.svg" alt="" width="25" height="30">
						</div>
						<div class="card-content">
							<label class="mw-afdeling-title" for="department">Afdeling</label>
							<select name="department" id="department" class="mw-afdeling">
								<% departments.forEach(ds => { %>
									<option value="<%- ds.id %>"><%- ds.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<div class="card inklok-card">
						<div class="img-wrapper">
							<img src="./assets/employee.svg" alt="" width="25" height="30">
						</div>
						<div class="card-content">
							<label class="mw-afdeling-title" for="employee">Medewerker</label>
							<select name="employee" id="employee" class="mw-afdeling employee-input">
								<% sortedEmployees.forEach(es => { %>
									<option value="<%- es.id %>"><%- es.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<input type="submit" class="klok-btn" value="Inklokken">
				</form>
			</div>
		</section>
	</main>
	<%- include("./modules/MobileNav") %>
</div>

<script>
    mapboxgl.accessToken = '<%= mapToken %>'

    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/tristandm/clj6ax9yh004o01qo80o36in9',
        center: [4.889073,52.379765],
        zoom: 15
    }).addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true,
            showUserHeading: true
        })
    )

    map.on('load', () => {
        const mapArea = {
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [4.889073,52.379765],
                        [4.888665,52.379359],
                        [4.889245,52.379196],
                        [4.889616,52.379593],
                        [4.889382,52.379668],
                        [4.889073,52.379765]
                    ]
                ]
            }
        }

        map.addSource('mapArea', {
            type: 'geojson',
            data: mapArea
        })

        map.addLayer({
            id: 'mapArea',
            type: 'fill',
            source: 'mapArea',
            layout: {},
            paint: {
                'fill-color': '#088',
                'fill-opacity': 0.8
            }
        })

        map.addLayer({
            id: 'outline',
            type: 'line',
            source: 'mapArea',
            layout: {},
            paint: {
                'line-color': '#000',
                'line-width': 2
            }
        })
    })
</script>

</body>
</html>