<%- include("./partials/head.ejs") %>
<div class="alt-content-wrapper">
	<header>
		<!-- Logo -->
		<div class="logo-wrapper">
			<img src="./assets/logo.svg" alt="Logo" width="188" height="32">
		</div>
		
		<!-- Heading text -->
		<div class="heading-text">
			<h1 class="heading-title">Uitklokken</h1>
		</div>
	</header>
	<main>
		<!-- Uitklokken  -->
		<section class="inklokken">

			<!-- Actuele tijd -->
			<% let time = new Date() %>
			<% const timeHours = time.getHours() %>
			<% const timeMinutes = (time.getMinutes() < 10 ? '0':'') + time.getMinutes() %>
			<% time = timeHours + ':' + timeMinutes %>

			<!-- Uitklokken container -->
			<div class="inklokken-container">
				<form action="/uitklokken" method="post" name="uitklokForm" id="uitklokForm" class="inklok-form">
					<!-- Uitklok tijd -->
					<p class="klok-tijd"><%- time %></p>

					<!-- Individuele medewerker -->
					<div class="card inklok-card">
						<div class="img-wrapper">
							<img src="./assets/department.svg" alt="" width="25" height="30">
						</div>
						<div class="card-content">
							<p class="mw-afdeling-title">Afdeling</p>
							<select name="department" id="department" class="mw-afdeling">
								<% departments.forEach(ds => { %>
									<option value="<%- ds.id %>"><%- ds.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<div class="card inklok-card">
						<div class="img-wrapper">
							<img src="./assets/employee.svg" alt="" width="25" height="30">
						</div>
						<div class="card-content">
							<p class="mw-afdeling-title">Medewerker</p>
							<select name="employee" id="employee" class="mw-afdeling">
								<% employees.forEach(es => { %>
									<option value="<%- es.id %>"><%- es.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<input type="submit" class="klok-btn bg-secondary" value="Uitklokken">
				</form>
			</div>
		</section>
	</main>
	<%- include("./modules/MobileNav") %>
</div>
</body>
</html>