<%- include("./partials/head.ejs") %>
<div class="alt-content-wrapper">
	<header>
		<!-- Logo -->
		<div class="logo-wrapper">
			<img src="./assets/logo.svg" alt="Logo" width="188" height="32">
		</div>

		<!-- Heading text -->
		<div class="heading-text">
			<h1 class="heading-title">Uitklokken</h1>
		</div>
	</header>
	<main class="alt-main">
		<!-- Uitklokken  -->
		<section class="inklokken">

			<!-- Actuele tijd -->
			<% let time = new Date() %>
			<% const timeHours = time.getHours() %>
			<% const timeMinutes = (time.getMinutes() < 10 ? '0':'') + time.getMinutes() %>
			<% time = timeHours + ':' + timeMinutes %>

			<% let showSubmit %>

			<!-- Uitklokken container -->
			<div class="inklokken-container">
				<form action="/uitklokken" method="post" name="uitklokForm" id="uitklokForm" class="inklok-form">
					<!-- Uitklok tijd -->
					<p class="klok-tijd"><%- time %></p>

					<!-- Individuele medewerker -->
					<div class="card inklok-card">
						<div class="img-wrapper">
							<img src="./assets/department.svg" alt="" width="25" height="30">
						</div>
						<div class="card-content">
							<p class="mw-afdeling-title">Afdeling</p>
							<select name="department" id="department" class="mw-afdeling">
								<% departments.forEach(ds => { %>
									<option value="<%- ds.id %>"><%- ds.name %></option>
								<% }) %>
							</select>
						</div>
					</div>
					<div class="card inklok-card">
						<div class="img-wrapper">
							<img src="./assets/employee.svg" alt="" width="25" height="30">
						</div>
						<div class="card-content">
							<p class="mw-afdeling-title">Medewerker</p>
							<select name="employee" id="employee" class="mw-afdeling employee-input">
								<!-- All employees with clock_out type -->
								<% const clockedOut = punches.data.filter(pu => pu.type === 'clock_out') %>

								<!-- All non clocked out employees -->
								<% const nonClockedOut = employees.filter(em => !clockedOut.some(c => c.employee_id === em.id)) %>
								<%# console.log(nonClockedOut) %>

								<!-- Loop through all non clocked out employees -->
								<% if (nonClockedOut.length > 0) { %>
									<% nonClockedOut.forEach(nc => { %>
										<% showSubmit = true %>
										<option class="employee-option" value="<%- nc.id %>"><%- nc.name %></option>
									<% }) %>
								<% } else { %>
									<option value="0">Alle medewerkers uitgeklokt</option>
								<% } %>
							</select>
						</div>
					</div>
					<% if (showSubmit) { %>
						<input type="submit" class="klok-btn bg-secondary" value="Uitklokken">
					<% } else { %>
						<input type="submit" class="klok-btn-disabled bg-secondary" value="Uitklokken" disabled>
					<% } %>
				</form>
			</div>
		</section>
	</main>
	<%- include("./modules/MobileNav") %>
</div>
</body>
</html>