<div class="overzicht-ingeklokt switch-view" id="overzicht-ingeklokt">

	<% if (mwArrayIn.length > 0) { %>
		<% mwArrayIn.forEach(mw => { %>
			<div class="card">
				<picture class="avatar-wrap">
					<!-- <source class="avatar-img" srcset="/assets/avatar.webp" type="image/webp"> -->
					<img class="avatar-img" src="<%- mw.avatar %>" alt="Avatar van <%- mw.name %>" width="40"
						height="40">
				</picture>

				<div class="card-content">
					<h2 class="mw-name"><%- mw.name %></h2>
					<p class="start-time"><%- mw.ClockInTime %> - <%- mw.TimePastClockIn %></p>
				</div>
			</div>
		<% }) %>
	<% } else { %>
		<div class="empty-card">
			<picture class="svg-wrap">
				<img class="svg-img" src="/assets/employees.svg" alt="Employees icon" width="40" height="40">
			</picture>

			<div class="empty-card-content">
				<h2 class="empty-text">Er zijn geen medewerkers ingeklokt</h2>
			</div>
		</div>
	<% } %>

	<!-- Clock in button -->
	<a href="/inklokken" class="clock-btn clock-in">
		<img src="/assets/inklok.svg" alt="Clock in icon" class="clock-svg" width="25" height="25">
	</a>
</div>