<div class="overzicht-uitgeklokt" id="overzicht-uitgeklokt">
    <% if (clockedOutMwByIdArr.length > 0) { %>
        <% clockedOutMwByIdArr.forEach((clockOut, index) => { %>
            <% if (clockOut.length == 1) { %>
                <div class="card">
                    <picture class="avatar-wrap">
                        <img class="avatar-img" src="<%- clockOut[0].avatar %>" alt="Avatar van <%- clockOut[0].name %>" width="40" height="40">
                    </picture>

                    <div class="card-content">
                        <h2 class="mw-name"><%- clockOut[0].name %></h2>
                        <p class="start-time"><span><%- clockOut[0].ClockOutTime %></span> <span>-</span> <span><%- clockOut[0].TimePastClockOut %></span></p>
                    </div>
                </div>
            <% } else{ %>
                <details>
                    <summary>
                        <div class="card">
                            <picture class="avatar-wrap">
                                <img class="avatar-img" src="<%- clockOut[0].avatar %>" alt="Avatar van <%- clockOut[0].name %>" width="40" height="40">
                            </picture>

                            <div class="card-content">
                                <h2 class="mw-name"><%- clockOut[0].name %></h2>
                                <p class="start-time">Bekijk alle uitklokmomenten</p>
                            </div>
                        </div>
                    </summary>

                    <% clockOut.forEach(mw => { %>
                        <div class="card">
                            <picture class="avatar-wrap">
                                <img class="avatar-img" src="<%- mw.avatar %>" alt="Avatar van <%- mw.name %>" width="40" height="40">
                            </picture>

                            <div class="card-content">
                                <h2 class="mw-name"><%- mw.ClockOutTime %></h2>
                                <p class="start-time"><%- mw.TimePastClockOut %></p>
                            </div>
                        </div>
                    <% }) %>
                </details>
            <% } %>
        <% }) %>
	<% } else { %>
		<div class="empty-card">
			<picture class="svg-wrap">
				<img class="svg-img" src="/assets/employees.svg" alt="Employees icon" width="40" height="40">
			</picture>

			<div class="empty-card-content">
				<h2 class="empty-text">Er zijn geen medewerkers uigeklokt</h2>
			</div>
		</div>
	<% } %>

	<!-- Clock out button -->
	<a href="/uitklokken" class="clock-btn clock-out">
		<img src="/assets/uitklok.svg" alt="Clock out icon" class="clock-svg" width="25" height="25">
	</a>
</div>